.container
  div(ng-cloak, ng-show="registration")
    h2 Account activation
    p Please complete your account activation by clicking the button below and logging on.
    button.btn.btn-primary(ng-click="activateAndLogin()") Complete activation and log in
