.container
  div(ng-cloak, ng-show="registration.token")
    h2 Account activation complete
    p Your account has been successfully activated.  You may now log in.
    button.btn.btn-primary(ui-sref="login") Log in
