.row
  .col-lg-2
    h2 Navigation
    ul.list-group

    div(ng-repeat="navigation in navigations")
      a.list-group-item(ui-sref="{{navigation.state}}") {{navigation.title}}

  .col-lg-10: ui-view
