nav.navbar.navbar-inverse(role="navigation")
  .navbar-header
    a.navbar-brand(ui-sref="home") {{ brand }}

  .collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-left
      li: a(ui-sref="home") Home

    div(ng-if="!logged()")
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref="login") Login
        li: a(ui-sref="registration") Register

    div(ng-if="logged()")
      ul.nav.navbar-nav.navbar-right
        li(dropdown)
          a(href="#", dropdown-toggle) {{ loggedUser() }} #[span.caret]

          ul(role="menu").dropdown-menu
            li: a(ng-click="logout()") Logout
            li(role="presentation").divider
            li: a Something

ui-view
