.jumbotron
  .container
    h1 Boilerplate
    p Something trite.

    div.btn-toolbar(ng-if="!logged()")
      button.btn.btn-primary(ui-sref="login") Log in
      button.btn.btn-primary(ui-sref="registration") Register

.container
  p content

hr

.container: footer
  p FOOTER
