div.jumbotron
  div.container
    h1 Boilerplate
    p Something trite.
    button.btn.btn-primary(ui-sref="registration") Register

div.container
  p content

hr

div.container
  footer
    p FOOTER
